@import "bourbon";

$background: #e7e7e7;
$font-color: #3c3c3c;
$font-family: "Segoe UI", $helvetica;

body {
  font-family: $font-family;
  color: $font-color;
}

.home, .counter {
  overflow: hidden;
  background: $background;
  padding: 10px;
  max-width: 200px;
  margin: 0 auto;

  h1 {
    text-align: center;
    word-wrap: break-word;
  }
  input {
    padding: 10px 7px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  button {
    @include transition(all .2s);
    font-family: $font-family;
    color: lighten($font-color, 35%);
    font-size: 14px;
    cursor: pointer;
    border: 1px solid darken($background, 6%);
    border-radius: 3px;
    padding: 7px 9px;
    outline: none;
    background: lighten($background, 10%);
    &:hover { background: darken($background, 6%); }
    &:active { background: $background; }
  }
}
